## Winter 2022 Data Science Intern Challenge

Question 1: Given some sample data, write a program to answer the following: click here to access the required data set

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of $3145.13. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

(a) Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 

(b) What metric would you report for this dataset?

(c) What is its value?

## Our first step is to download the dataset and convert it into Pandas Dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
# LEt's rad the data
df = pd.read_csv('/content/2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [3]:
df.shape

(5000, 7)

In [4]:
df.columns

Index(['order_id', 'shop_id', 'user_id', 'order_amount', 'total_items',
       'payment_method', 'created_at'],
      dtype='object')

In [5]:
df.info

<bound method DataFrame.info of       order_id  shop_id  ...  payment_method           created_at
0            1       53  ...            cash  2017-03-13 12:36:56
1            2       92  ...            cash  2017-03-03 17:38:52
2            3       44  ...            cash   2017-03-14 4:23:56
3            4       18  ...     credit_card  2017-03-26 12:43:37
4            5       18  ...     credit_card   2017-03-01 4:35:11
...        ...      ...  ...             ...                  ...
4995      4996       73  ...           debit  2017-03-30 13:47:17
4996      4997       48  ...            cash  2017-03-16 20:36:16
4997      4998       56  ...            cash   2017-03-19 5:42:42
4998      4999       60  ...     credit_card  2017-03-16 14:51:18
4999      5000       44  ...           debit  2017-03-18 15:48:18

[5000 rows x 7 columns]>

## FOr Q2 we will take the sum of order & total columns and we can find average order value by just divide the total order amount by total sum of items.

In [7]:
# LEt's calculate AOV(Average Order Value) of 'order amount' & 'total_items[Q2]'
# We are using SUM()
order_sum = df['order_amount'].sum()
total_sum = df['total_items'].sum()
print(order_sum)
print(total_sum)

15725640
43936

##Q3-Answer:  We can consider it 357.92$

In [9]:
# Now let's calculate the average [Q3]
aov = order_sum/total_sum
print(aov)

357.92152221412965

## Q1 Think about what could be going wrong with our calculation. Think about a better way to evaluate this data.

## We have calculated AOV in Q3, and we are getting it 357 Dollors, but it is given 3145 Dollors AOV in the explanation of question. So it is mistake there.

## Le'ts find mistake in calculation

In [11]:
order_sum = df['order_amount'].count()
total_sum = df['total_items'].sum()
wrong_AOV = order_sum/total_sum
print(order_sum)
print(total_sum)
print(wrong_AOV)

5000
43936
0.11380189366351057

In [13]:
order_sum = df['order_amount'].sum()
total_sum = df['total_items'].count()
wrong_AOV = order_sum/total_sum
print(order_sum)
print(total_sum)
print(wrong_AOV)

15725640
5000
3145.128

## Answer of Q1- I got it's just simple mistake, in total sum instead of sum(), it's count() used that's why it's wrong calculation.